<template>
  <nav data-test="nav-main" class="flex justify-center md:space-x-16">
    <button
      v-for="item in navigation"
      :key="item.name"
      :class="['button', item.name === activeSection ? 'active' : '']"
      @click="setSection(item)"
      @keyup.enter="setSection(item)"
      v-html="item.label"
    ></button>
  </nav>
</template>
<script>
import { mapState } from 'vuex';
export default {
  name: 'SectionNavMain',
  data() {
    return {
      navigation: [
        { name: 'create', label: 'Create new A/B case' },
        { name: 'list', label: 'Saved A/B cases' },
      ],
    };
  },
  computed: {
    ...mapState({
      activeSection: state => state.activeSection,
    }),
  },
  methods: {
    setSection(item) {
      this.$store.commit('SET_SECTION', item.name);
    },
  },
};
</script>
