<template>
  <div
    data-test="section-list-cases"
    class="w-full md:max-w-5xl md:mx-auto my-8"
  >
    <h2 class="text-xl mb-8">A/B cases:</h2>
    <div class="border border-fedexGrayDark p-2 mb-6 max-w-2xl" v-if="cases">
      <button
        class="px-4 py-2 text-xs bg-fedexOrange text-white hover:bg-fedexOrangeDark float-right"
        @click="resetFilters()"
        @keyup.enter="resetFilters()"
      >
        Clear filters
      </button>
      <h3 class="ml-2 mb-6 md:mb-2">Filters:</h3>

      <form
        submit.prevent="submitfilters()"
        data-test="filters"
        class="md:grid md:grid-cols-2 md:gap-4"
      >
        <!-- column 1 -->
        <div>
          <!--regions -->
          <div class="bg-fedexGray p-2 mb-2">
            <label
              for="formCreateCaseregion"
              class="block font-fedex tracking-wider text-sm"
              >REGION</label
            >
            <select
              name="region"
              id="formCreateCaseregion"
              v-model="region"
              class="w-full bg-transparent text-lg h-7 -ml-1"
              @change="changeFilter('region', $event.target.value)"
            >
              <option selected="selected" key="all" value="all">All</option>
              <option
                v-for="option in regions"
                :key="option[1]"
                :value="option[1]"
                v-text="option[0]"
              ></option>
            </select>
          </div>
          <!-- type -->
          <div class="p-2">
            <span class="block font-fedex tracking-wider text-sm"
              >CHOOSE TYPE:</span
            >
            <div class="md:grid md:grid-cols-3 md:gap-4">
              <div
                v-for="(item, index) in types"
                :key="index"
                class="w-full flex items-center"
              >
                <input
                  name="type"
                  type="radio"
                  v-model="type"
                  :value="index"
                  :checked="index === type"
                  :id="'formListCasetype' + index"
                  @click="changeFilter('type', $event.target.value)"
                />
                <label
                  :for="'formListCasetype' + index"
                  class="ml-2"
                  v-text="index"
                ></label>
              </div>
            </div>
          </div>
        </div>
        <!-- column 2 -->
        <div>
          <!-- status -->
          <div class="p-2 ">
            <h2 class="block font-fedex tracking-wider text-sm">STATUS</h2>
            <div class="md:grid md:grid-cols-2 md:gap-4 max-w-xs">
              <div class="w-full flex items-center">
                <input
                  name="status"
                  type="radio"
                  v-model="status"
                  value="active"
                  id="formListCasestatus1"
                  @click="changeFilter('status', $event.target.value)"
                />
                <label for="formListCasestatus1" class="ml-2">Active</label>
              </div>

              <div class="flex items-center">
                <input
                  name="status"
                  type="radio"
                  v-model="status"
                  value="inactive"
                  id="formListCasestatus2"
                  @click="changeFilter('status', $event.target.value)"
                />
                <label for="formListCasestatus2" class="ml-2">Inactive</label>
              </div>
            </div>
          </div>
        </div>
      </form>
      <div class="text-right"></div>
    </div>

    <ul data-test="cases-list" class="border-t border-fedexGray">
      <block-list-item
        v-for="item in filteredCases"
        :key="String(item.created)"
        :data="item"
        class="border-b border-fedexGray"
      />
    </ul>
  </div>
</template>
<script>
import { mapState } from 'vuex';
export default {
  name: 'SectionListCases',
  computed: {
    ...mapState({
      regions: state => state.regions,
      types: state => state.types,
      cases: state => state.cases,
    }),
  },
  data() {
    return {
      filters: {},
      filteredCases: null,
      region: 'all',
      status: null,
      type: null,
    };
  },
  methods: {
    changeFilter(key, value) {
      this.filters[key] = value;
      this.filterCases();
    },

    filterCases() {
      // fill fCases with all cases, and filter from there
      // after all filtering is done, update the observed filteredCases so it doesn't update the dom with every change.
      let fCases = this.cases;
      if (Object.keys(this.filters).length > 0) {
        Object.keys(this.filters).forEach(key => {
          this.filteredCases = this.cases;
          fCases =
            this.filters[key] === 'all'
              ? fCases
              : fCases.filter(item => item[key] === this.filters[key]);
        });
      }
      this.filteredCases = fCases;
    },
    resetFilters() {
      this.filters = {};
      (this.region = 'all'), (this.status = null), (this.type = null);

      this.filterCases();
    },
  },
  watch: {
    // If cases list update for any reason, we want to reset the filtering.
    cases() {
      // wait for the cases to propagate into the template before filtering.
      this.$nextTick(() => {
        this.resetFilters();
      });
    },
  },
  mounted() {
    this.$nextTick(() => {
      this.resetFilters();
    });
  },
};
</script>
