<template>
  <div class="w-full md:max-w-5xl md:mx-auto my-8 md:px-2">
    <h2 class="text-xl mb-8">
      Create a new A/B case: <loading-icon v-show="!(regions && types)" />
    </h2>

    <!--
        Set up a normal form for accessibility reasons,
        this way we can also use the native validation of formfields.
        We prevent the submit of the form to do our own submission (to firestore and local-store )-->
    <form
      data-test="form-abcase"
      novalidate="true"
      @submit.prevent="submitCase($event)"
      v-if="regions && types"
    >
      <fieldset>
        <legend class="sr-only">Basic fields</legend>
        <!-- NAME & REGION -->
        <div class="grid md:grid-cols-2 gap-4">
          <div class="block w-full bg-gray-100 p-4">
            <label
              for="formCreateCasename"
              class="block font-fedex tracking-wider text-sm"
              >NAME</label
            >
            <input
              name="name"
              required
              id="formCreateCasename"
              type="text"
              class="w-full bg-transparent text-lg px-2 -ml-2"
              placeholder="Name of this A/B test"
              :value="name"
              @input="
                $store.commit('abtest/SET_CASE_FIELD_VALUE', {
                  field: 'name',
                  value: $event.target.value,
                })
              "
              @blur="validateField($event)"
            />
            <p
              class="text-red-500 pt-1 text-sm leading-none"
              v-if="errors.name === true"
              v-text="this.errorFieldMessage"
            ></p>
          </div>
          <div class="block w-full bg-gray-100 p-4">
            <label
              for="formCreateCaseregion"
              class="block font-fedex tracking-wider text-sm"
              >REGION</label
            >
            <select
              name="region"
              required
              id="formCreateCaseregion"
              class="w-9/12 bg-transparent text-lg h-7 -ml-1"
              :value="region"
              @change="
                $store.commit('abtest/SET_CASE_FIELD_VALUE', {
                  field: 'region',
                  value: $event.target.value,
                })
              "
              @blur="validateField($event)"
            >
              <option :selected="region === ''" value="" disabled>
                Choose the region to apply
              </option>
              <option
                v-for="option in regions"
                :key="option[1]"
                :value="option[1]"
                v-text="option[0]"
              ></option>
            </select>
            <p
              class="text-red-500 pt-1 text-sm leading-none"
              v-if="errors.region === true"
              v-text="this.errorFieldMessage"
            ></p>
          </div>
        </div>
        <!-- STATUS & TYPE -->
        <div class="grid grid-cols-2 gap-4">
          <!-- Status -->
          <fieldset data-test="field-set-status" class="block w-full p-4">
            <span class="block font-fedex tracking-wider mb-2">STATUS:</span>
            <div class="md:grid md:grid-cols-2 md:gaps-4 w-full md:w-6/12">
              <div class="w-full flex items-center">
                <input
                  name="status"
                  required
                  type="radio"
                  value="active"
                  id="formCreateCasestatus1"
                  :checked="status === 'active'"
                  @click="
                    $store.commit('abtest/SET_CASE_FIELD_VALUE', {
                      field: 'status',
                      value: $event.target.value,
                    })
                  "
                  @change="validateField($event)"
                />
                <label for="formCreateCasestatus1" class="ml-2">Active</label>
              </div>

              <div class="w-full flex items-center">
                <input
                  name="status"
                  required
                  type="radio"
                  value="inactive"
                  id="formCreateCasestatus2"
                  :checked="status === 'inactive'"
                  @click="
                    $store.commit('abtest/SET_CASE_FIELD_VALUE', {
                      field: 'status',
                      value: $event.target.value,
                    })
                  "
                  @change="validateField($event)"
                />
                <label for="formCreateCasestatus2" class="ml-2">Inactive</label>
              </div>
            </div>
            <p
              class="text-red-500 pt-1 text-sm leading-none"
              v-if="errors.status === true"
              v-text="this.errorFieldMessage"
            ></p>
          </fieldset>
          <!-- Type -->
          <fieldset data-test="field-set-type" class="block w-full p-4 mb-2">
            <span class="block font-fedex tracking-wider">CHOOSE TYPE:</span>
            <div class="md:grid md:grid-cols-3 md:gap-4">
              <div
                v-for="(item, index) in types"
                :key="index"
                class="w-full flex items-center"
              >
                <input
                  name="type"
                  required
                  type="radio"
                  :value="index"
                  :checked="index === type"
                  :id="'formCreateCasetype' + index"
                  @change="validateField($event)"
                  @click="setValueType($event)"
                />
                <label
                  :for="'formCreateCasetype' + index"
                  class="ml-2"
                  v-text="getFormattedLabel(index)"
                ></label>
              </div>
            </div>
            <p
              class="text-red-500 pt-1 text-sm leading-none"
              v-if="errors.type === true"
              v-text="this.errorFieldMessage"
            ></p>
          </fieldset>
        </div>
      </fieldset>

      <!-- TYPE CASE DETAILS -->
      <fieldset data-test="field-set-details">
        <legend class="sr-only">
          Detailed media fields based on chosen format
        </legend>
        <h2
          class="p-4 pt-8 block font-fedex font-normal tracking-wider mb-2"
          v-if="type"
          v-text="getUpperCaseLabel(type + ' Case:')"
        ></h2>
        <div v-if="type" class="grid md:grid-cols-2 gap-4">
          <!-- TEXT -->
          <div class="block w-full bg-gray-100 p-4">
            <label
              for="formCreateCasesource"
              class="block font-fedex tracking-wider text-sm"
              v-text="getUpperCaseLabel(types[type].fields.text.label)"
            ></label>
            <input
              name="text"
              required
              id="formCreateCasetext"
              type="text"
              class="w-full bg-transparent text-lg px-2 -ml-2"
              :placeholder="
                getFormattedLabel(types[type].fields.text.placeholder)
              "
              :value="text"
              @input="
                $store.commit('abtest/SET_CASE_FIELD_VALUE', {
                  field: 'text',
                  value: $event.target.value,
                })
              "
              @blur="validateField($event)"
            />
            <p
              class="text-red-500 pt-1 text-sm leading-none"
              v-if="errors.text === true"
              v-text="this.errorFieldMessage"
            ></p>
          </div>

          <!-- FORMAT -->
          <div class="block w-full bg-gray-100 p-4">
            <label
              for="formCreateCasesource"
              class="block font-fedex tracking-wider text-sm"
              v-text="getUpperCaseLabel(types[type].fields.format.label)"
            ></label>
            <select
              name="format"
              required
              id="formCreateCaseformat"
              type="text"
              class="w-9/12 bg-transparent text-lg h-7 -ml-1"
              :value="format"
              @change="
                $store.commit('abtest/SET_CASE_FIELD_VALUE', {
                  field: 'format',
                  value: $event.target.value,
                })
              "
              @blur="validateField($event)"
            >
              <option
                disabled
                :selected="format === ''"
                value=""
                v-text="
                  getFormattedLabel(types[type].fields.format.placeholder)
                "
              >
              </option>
              <option
                v-for="option in types[type].values"
                :key="option"
                :value="option"
                v-text="option"
              ></option>
            </select>
            <p
              class="text-red-500 pt-1 text-sm leading-none"
              v-if="errors.format === true"
              v-text="this.errorFieldMessage"
            ></p>
          </div>

          <!-- SOURCE -->
          <div class="block w-full bg-gray-100 p-4">
            <label
              for="formCreateCasesource"
              class="block font-fedex tracking-wider text-sm"
              v-text="
                getUpperCaseLabel(
                  types[type].fields.sources[format === 'link' ? 1 : 0].label
                )
              "
            ></label>
            <input
              name="source"
              required
              id="formCreateCasesource"
              type="text"
              class="w-full bg-transparent text-lg px-2 -ml-2"
              :disabled="!format"
              :placeholder="
                getFormattedLabel(
                  types[type].fields.sources[format === 'link' ? 1 : 0]
                    .placeholder
                )
              "
              :value="source"
              @input="
                $store.commit('abtest/SET_CASE_FIELD_VALUE', {
                  field: 'source',
                  value: $event.target.value,
                })
              "
              @blur="validateField($event)"
              :pattern="
                getRegexPatternSource(
                  types[type].fields.sources[format === 'link' ? 1 : 0]
                    .validation
                )
              "
            />
            <p
              class="text-red-500 pt-1 text-sm leading-none"
              v-if="errors.source === true"
              v-text="
                types[type].fields.sources[format === 'link' ? 1 : 0]
                  .errormessage || this.errorFieldMessage
              "
            ></p>
          </div>

          <label
            for="formCreateCasetarget"
            class="block w-full bg-gray-100 p-4"
          >
            <!-- TARGET -->
            <span
              class="block font-fedex tracking-wider text-sm"
              v-text="getUpperCaseLabel(types[type].fields.target.label)"
            ></span>
            <input
              name="target"
              required
              id="formCreateCasetarget"
              type="text"
              class="w-full bg-transparent text-lg px-2 -ml-2"
              :placeholder="
                getFormattedLabel(types[type].fields.target.placeholder)
              "
              :value="target"
              @input="
                $store.commit('abtest/SET_CASE_FIELD_VALUE', {
                  field: 'target',
                  value: $event.target.value,
                })
              "
              @blur="validateField($event)"
            />
            <p
              class="text-red-500 pt-1 text-sm leading-none"
              v-if="errors.target === true"
              v-text="this.errorFieldMessage"
            ></p>
          </label>
        </div>

        <div class="w-full flex justify-center pt-8">
          <button
            type="submit"
            :class="[
              'button w-36',
              isFormValid ? 'bg-yellow-500' : 'cursor-not-allowed',
            ]"
          >
            Save
          </button>
        </div>

        <modal-summary v-if="showSummary" />
      </fieldset>
    </form>

    <div
      data-test="error-message"
      v-if="errorMessage"
      v-text="errorMessage"
      class="text-red-500 text-sm mx-auto text-center p-2 border border-red-500 w-96"
    ></div>
  </div>
</template>
<script>
import { mapState } from 'vuex';

export default {
  name: 'SectionCreateCase',
  data() {
    return {
      errorMessage: null,
      errors: {},
      errorFieldMessage: 'This field contains errors',
      isFormValid: false,
      abcase: [
        'name',
        'region',
        'status',
        'type',
        'text',
        'format',
        'source',
        'target',
      ],
    };
  },
  computed: {
    // This created bindings for the values in the Store for easy access and sync.
    ...mapState({
      regions: state => state.regions,
      types: state => state.types,
      showSummary: state => state.showSummary,
      name: state => state.abtest.name,
      region: state => state.abtest.region,
      status: state => state.abtest.status,
      type: state => state.abtest.type,
      text: state => state.abtest.text,
      format: state => state.abtest.format,
      source: state => state.abtest.source,
      target: state => state.abtest.target,
    }),
  },
  methods: {
    /*	Summary of methods used
        - validateField (event|string, silent) - validates the field, silently or with error messages
        - validateForm (silent) - validates the whole form (with fields) silently in the background or with errors.
        - submitCase - submits the form and shows the modal if the form is valid
        - getRegexPatternSource (string) - formats the regular expression for the [source] input field
        - getTypeFormanLabel(key) - formats the label for the [type] input field
        - getUpperCaseLabel(label) - converts the label into an uppercase variant
        - setSummaryState (state) - sends the summary state to the store, where the Modal window reacts on it's state.
        - setValueType - set the value of the [type] input field, and resets the 'media detail' fields.
    */

    // Validations & submition
    validateField(e, silent) {
      // Set the error state, and lookup the form input. (this is scoped to the component)
      // lookup the key, validate the field and save the result in the Store.
      let error = false;
      const element =
        typeof e === 'string'
          ? this.$el.querySelector(`[name*=${e}]`)
          : e.target;
      const key = element ? element.getAttribute('name') : e;

      if (!element || !element.checkValidity()) {
        error = true;
      }

      // If there is a silent background check going on, we don't want to show the error messages yet.
      if (!silent) {
        this.$set(this.errors, key, error);
      }

      // Validate the whole form (silently) to see if its ready to be submitted.
      if (typeof e !== 'string') {
        this.validateForm(true);
      }

      return error;
    },
    validateForm(silent) {
      // Validate the form by looping to a static set array of fieldnames.
      // In an ideal setting I would get the whole form structure/config in a json
      // but there are time constraints...

      // reset the valid state and loop through the field names
      this.isFormValid = true;
      this.abcase.forEach(key => {
        // validate the field and if an error is present set the form state to false.
        let error = this.validateField(key, silent);
        if (error) {
          this.isFormValid = false;
        }
      });
    },
    submitCase() {
      // When submitting the form, check for errors,
      // if it's valid set the summary state to true
      // so it will show the summary modal.
      this.errors = {};
      this.validateForm();
      if (this.isFormValid) {
        this.setSummaryState(true);
      }
    },

    // Getters
    getRegexPatternSource(string) {
      // This will set a regex pattern for the [Source] input field.
      // if no pattern is specified, set a pattern where the field must not be empty
      if (!this.format) return '^\d{1,}$';
      // if no pattern is specified, set a pattern where the field must not be empty
      return string.replace(
        /%format%/,
        this.format + '|' + this.format.toLowerCase()
      );
    },
    getTypeFormatLabel(key) {
      const typeObj = this.types[key];
      return this.getUpperCaseLabel(typeObj ? typeObj.formatLabel : key);
    },
    getFormattedLabel(label) {
      return label
        ? label.substring(0, 1).toUpperCase() + label.substring(1, label.length)
        : '';
    },
    getUpperCaseLabel(label) {
      return label.toUpperCase();
    },

    // Setters
    setSummaryState(state) {
      this.$store.commit('SET_SUMMARY_STATE', state);
    },
    setValueType(event) {
      // Set the value for the [Type] input field (if the value has changed)
      if (event.target.value !== this.type) {
        this.$store.commit('abtest/SET_CASE_FIELD_VALUE', {
          field: 'type',
          value: event.target.value,
        });
        // Reset 'media detail' fields (as the conditions differ)
        this.$store.commit('abtest/SET_CASE_TYPE_SET_DEFAULT');
      }
    },
  },
};
</script>
