<template>
  <div data-test="nav-bar--main" class="bg-fedex w-full">
    <div
      class="p-4 md:p-2 md:h-16 w-full md:max-w-5xl md:mx-auto flex flex-wrap items-center"
    >
      <a href="/" target="_top" title="back to home">
        <img
          src="https://www.fedex.com/content/dam/fedex-com/logos/logo.png"
          class="h-7 inline-block flex-none"
          alt="FedEx"
        />
      </a>
      <span
        class="ml-4 mt-2 font-fedex text-white font-thin text-xl flex-grow inline-block"
      >
        A/B Assessment</span
      >

      <div class="flex-none mt-1 md:mt-0 h-7 text-center sm:text-left">
        <a class="text-white flex items-center">
          <a
            href="https://bitbucket.org/nekomedia/fedex/"
            target="_blank"
            rel="noopener"
            class="hover:underline text-sm"
            >Check the sourcecode</a
          >
          <i class="ml-2 no-underline fedex-tile fedex-tile--avatar"></i>
        </a>
      </div>
    </div>
  </div>
</template>
<script>
export default { name: 'SectionHeaderMain' };
</script>
