<template>
  <div class="h-full relative">
    <section-header-main />
    <div class="p-4 pt-6 md:pt-16">
      <section-nav-main />
      <section-create-case v-show="activeSection === 'create'" />
      <section-list-cases v-if="activeSection === 'list'" />
    </div>
  </div>
</template>
<script>
import { mapState } from 'vuex';

export default {
  name: 'LayoutABTest',
  computed: {
    ...mapState({
      activeSection: state => state.activeSection,
      cases: state => state.cases,
    }),
  },
  mounted() {
    console.info('FedEx initialized.\nEnjoy! - Greetings Dan.');
  },
};
</script>
