<template>
  <div
    data-test="modal-summary"
    class="z-10 fixed inset-0 flex items-center justify-center"
  >
    <div
      class="z-20 md:m-4 bg-white shadow-lg p-8 relative w-full h-full md:max-w-xl md:max-h-144"
    >
      <button
        class="absolute top-0 right-0 p-2 mt-1 mr-2 font-bold text-2xl leading-none"
        @click="setSummaryState(false)"
      >
        &times;
      </button>

      <!-- Default Summary Window -->
      <div v-if="submission === 0">
        <h2 class="text-center text-2xl">Summary</h2>

        <ul class="mt-6 text-lg">
          <li>
            <strong>Name:</strong><span v-text="name" class="ml-2"></span>
          </li>
          <li>
            <strong>Applicable region:</strong
            ><span v-text="region" class="ml-2"></span>
          </li>
          <li>
            <strong>Status:</strong><span v-text="status" class="ml-2"></span>
          </li>
          <li>
            <strong>Type:</strong><span v-text="type" class="ml-2"></span>
          </li>

          <li class="my-6">
            <strong class="block">Details of selected type:</strong>
            <ul class="text-sm">
              <li>
                <strong>text:</strong><span v-text="text" class="ml-2"></span>
              </li>
              <li>
                <strong>format:</strong
                ><span v-text="format" class="ml-2"></span>
              </li>
              <li>
                <strong>source:</strong
                ><span v-text="source" class="ml-2"></span>
              </li>
              <li>
                <strong>target:</strong
                ><span v-text="target" class="ml-2"></span>
              </li>
            </ul>
          </li>
        </ul>

        <div
          class="absolute box-border bottom-0 mb-8 px-8 md:px-16 w-full flex justify-between -ml-8"
        >
          <button class="button primary" @click="setSummaryState(false)">
            Modify
          </button>
          <button class="button secondary" @click="setCase()">Submit</button>
        </div>
      </div>
      <!-- SAVED Case Window -->
      <div v-else-if="submission === 1">
        <h2 class="text-center text-2xl">Your case is saved.</h2>
        <p data-test="success-message" class="my-8 text-center font-bold">
          Do you want to see the cases list?
        </p>
        <div
          class="absolute box-border bottom-0 mb-8 px-8 md:px-16 w-full flex justify-between -ml-8"
        >
          <button class="button primary" @click="setSummaryState(false)">
            Back
          </button>
          <button class="button secondary" @click="navigateToCasesList()">
            To Cases
          </button>
        </div>
      </div>
      <!-- ERRORED Case Window -->
      <div v-else-if="submission === 2">
        <h2 class="text-center text-2xl">Your case could not be saved.</h2>
        <p class="my-8 text-center font-bold">
          Apologies for the inconvenience, please try again later.
        </p>
        <div
          class="absolute box-border bottom-0 mb-8 px-8 md:px-16 w-full flex justify-between -ml-8"
        >
          <button class="button primary" @click="setSummaryState(false)">
            Back
          </button>
          <button class="button secondary" @click="navigateToCasesList()">
            To Cases
          </button>
        </div>
      </div>
    </div>
    <div class="fixed bg-black bg-opacity-75 inset-0 z-10"></div>
  </div>
</template>
<script>
import { mapState } from 'vuex';
export default {
  name: 'BlockModal',
  props: {
    case: Object,
  },
  computed: {
    ...mapState({
      name: state => state.abtest.name,
      region: state => state.abtest.region,
      status: state => state.abtest.status,
      type: state => state.abtest.type,
      text: state => state.abtest.text,
      format: state => state.abtest.format,
      source: state => state.abtest.source,
      target: state => state.abtest.target,
    }),
  },
  data() {
    return {
      submission: 0,
    };
  },
  methods: {
    setSummaryState(state) {
      this.$store.commit('SET_SUMMARY_STATE', state);
    },
    setCase() {
      this.$store
        .dispatch('SET_CASE_FIRESTORE')
        .then(() => {
          this.submission = 1;
        })
        .catch(() => {
          this.submission = 2;
        });
    },
    navigateToCasesList() {
      this.setSummaryState(false);
      this.$store.dispatch('GET_CASES_FIRESTORE');
      this.$store.commit('SET_SECTION', 'list');
    },
    closeSummary() {
      this.setSummaryState(false);
    },
  },
};
</script>
