@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	.button {
		@apply p-4 px-8 duration-300 transition-colors  bg-fedexGray border border-fedexGray;
		&:hover {
			@apply underline bg-fedexGrayDark;
		}
		&:active,
		&.active{
			@apply bg-fedex text-white;
		}
		&.primary {
			@apply bg-white border-fedexOrange text-fedexOrange;
			&:hover{
				@apply bg-fedexGray border-fedexOrangeDark text-fedexOrangeDark;
			}
		}
		&.secondary {
			@apply bg-fedexOrange border-fedexOrange text-white;
			&:hover{
				@apply bg-fedexOrangeDark border-fedexOrangeDark text-white;
			}
		}
	}

	.fedex-tile{
    background-image: url('https://www.fedex.com/etc.clientlibs/clientlibs/fedex/images/resources/menu-sprite.png');
    display: inline-block;
    background-size: 77px 56px;
    background-repeat: no-repeat;
    vertical-align: middle;
  }
  .fedex-tile--avatar{
    background-position: -12px 0;
    width: 28px;
    height: 27px;
  }

	.fedex-tile--arrowDown {
    background-position: 0 -20px;
		height: 10px;
    width: 12px;
	}
	.fedex-tile--arrowUp {
		background-position: 0 -20px;
		height: 10px;
    width: 12px;
		@apply transform rotate-180;

	}

	*:focus { outline: #ccc solid 1px }
	*:focus:not(:focus-visible) {outline: none}
	*:focus-visible { outline: #ccc solid 1px}
	input:disabled {
    @apply text-fedexGrayDark cursor-not-allowed;
	}
	select:invalid {
		color : #9a9aaa;
	}
}
