<template>
  <layout-AB-test/>
</template>

<script>
  export default {
    mounted() {
      //So in normal scenario this would be a bit strange, but I wanted to show two ways of fetching the data.
      // One through a local json (or server endpoint) and one through a Google FireStore database
      this.getDataSources();
      this.$store.dispatch('GET_CASES_FIRESTORE');
    },
    methods: {
      async fetchData(endpoint) {
				const response = await fetch(endpoint, {method: 'GET'});
				return response.json();
			},
      getDataSources() {
				// Get Region data
				this.fetchData('/restservices/regions.json').then(data => {
					this.$store.commit('SET_REGIONS', data);
				}).catch(error => {
					this.errorMessage = 'There has been a problem fetching your data.';
					console.error('There has been a problem fetching your region data:', error);
				});

				// Get Type data
				this.fetchData('/restservices/types.json').then(data => {
					this.$store.commit('SET_TYPES', data);
				}).catch(error => {
					this.errorMessage = 'There has been a problem fetching your data.';
					console.error('There has been a problem fetching your type data:', error);
				});
			}
    }
  }
</script>
