<template>
  <li>
    <div
      v-if="data"
      @click="isOpen = !isOpen"
      @keyup.enter="isOpen = !isOpen"
      :class="[
        'p-2 hover:bg-fedexGray',
        isOpen ? 'cursor-default bg-fedexGrayDark' : 'cursor-pointer',
      ]"
    >
      <span v-text="data.name"></span>
      <i
        :class="[
          'mt-2 md:mr-4 no-underline fedex-tile float-right',
          isOpen ? 'fedex-tile--arrowUp' : 'fedex-tile--arrowDown',
        ]"
      ></i>
    </div>

    <ul v-show="isOpen" class="mt-2 p-2">
      <template v-for="(item, index) in data">
        <li :key="item.name" class="mb-2 md:mb-0">
          <strong v-text="index" class="w-full md:w-24 inline-block"></strong>
          <span v-text="getLabel(index, item)" class="md:ml-2"></span>
        </li>
      </template>
    </ul>
  </li>
</template>
<script>
export default {
  name: 'BlockListItem',
  props: {
    data: Object,
  },
  data() {
    return {
      isOpen: false,
    };
  },
  methods: {
    getLabel(index, item) {
      if (index === 'created') {
        const D = new Date(item);
        return (
          D.getUTCDate() +
          '/' +
          (D.getUTCMonth() + 1) +
          '/' +
          D.getUTCFullYear() +
          ' - ' +
          D.getUTCHours() +
          ':' +
          D.getUTCMinutes()
        );
      } else return item;
    },
  },
};
</script>
